/* TODO: Change color from red to blue on larger screens */

p {
  color: red;
}

@media (min-width: 768px) {
  p {
    color: blue;
  }
}

/*TODO: Swap content using display: none; decleration for mobile and desktop */

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
