h1 {
  font-size: 4rem;
  text-align: center;
  color: #333;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 4rem;
}

.container {
  max-width: 960px;
  margin: 40px auto;
}

.card {
  padding: 38px 38px 42px;
  background: hsl(225deg, 25%, 97%);
  border-radius: 8px;
  margin: 40px 20px;
}
