/* TODO: Give the paragraph a unique color and font size */

p {
  color: blue;
  font-size: 1rem;
}

/* TODO: Add a new class selector with custom style */

.apple {
  color: white;
  padding: 24px;
  background: #ce0303;
}

/* Combinators */
/* TODO: Add custom anchor style to the links inside nav */

/* nav a {
  color: red;
  font-weight: bold;
} */

/* Direct child */
/* TODO: Add fancy border to list items */
li {
  margin-bottom: 8px;
}

.shopping-list > li {
  border: 2px dotted;
}

/* Pseudo-classes */
/* Task: Create a selector for a custom button with default red color and blue color when it is hovered*/

.button {
  color: red;
}

.button:hover {
  color: blue;
}

/* Bonus: Add a 4px large black border to the button when it is focused */

.button:focus {
  border: 6px solid pink;
  outline: none;
}
